{% extends 'back/base_dashboard.html.twig' %}

{% block title %}
    MyWebSiteDown : Check your website status Offline or Online
{% endblock %}

{% block button %}
    <a href="{{ path('app_dashboard_user_delete') }}" type="button" class="btn btn-sm btn-danger d-flex align-items-center gap-1 ms-3" data-bs-toggle="modal" data-bs-target="#confirmationModal">Delete My Account</a>
{% endblock %}

{% block page_title %}Settings{% endblock %}

{% block dashboard_content %}
    {{ form(form) }}

    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account and all data ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abord</button>
                    <a href="{{ path('app_dashboard_user_delete') }}" class="btn btn-danger">Confirm</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}